.select {
  color: #000; /* 黒い文字色 */
  background-color: #fff; /* 白い背景色 */
  border: 1px solid #ccc; /* 境界線 */
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.select:focus {
  border-color: #0070f3; /* フォーカス時の色 */
  outline: none; /* フォーカスの青枠を削除 */
}
